<div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Chart-js </h3>


            <input type="text" name="chartsk" placeholder="2nd numm" id="bar-chart_id"
              style="opacity: 0;visibility: hidden;"> <br /><br />



            <script>
              //charts integration 


              var linkk = '<% usl.forEach( users=>{ %> <%= users.githublink %>  <% }) %>';
              //  "https://raw.githubusercontent.com/Mrprayag077/SIH_proj/main/pp.json";

              document.getElementById("bar-chart_id").value = linkk;
              console.log("1st iip url = " + document.getElementById("bar-chart_id").value);

            </script>


            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Charts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chart-js</li>
              </ol>
            </nav>
          </div>



          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Line chart</h4>
                  <canvas id="lineChart" style="height:200px; width: 300px;"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bar chart</h4>
                  <canvas id="barChart" style="height:200px; width: 300px;"></canvas>


                  <button id='btnSpeak'>Play</button>


                  <script>
                    document.getElementById('txtInput').value = "this is a bar chart. here we can see on y-axes total distraction and on x-axes total years data in the region. highest bar is of 2012 year with value 2000 points scale and least 2022 of 800 points scale";
                    var txtInput = document.querySelector('#txtInput');
                    var voiceList = document.querySelector('#voiceList');
                    var btnSpeak = document.querySelector('#btnSpeak');
                    var synth = window.speechSynthesis;
                    var voices = [];

                    PopulateVoices();
                    if (speechSynthesis !== undefined) {
                      speechSynthesis.onvoiceschanged = PopulateVoices;
                    }

                    btnSpeak.addEventListener('click', () => {
                      var toSpeak = new SpeechSynthesisUtterance(txtInput.value);
                      var selectedVoiceName = voiceList.selectedOptions[0].getAttribute('data-name');
                      voices.forEach((voice) => {
                        if (voice.name === selectedVoiceName) {
                          toSpeak.voice = voice;
                          console.log(selectedVoiceName);
                        }
                      });
                      synth.speak(toSpeak);
                    });

                    function PopulateVoices() {
                      voices = synth.getVoices();
                      var selectedIndex = voiceList.selectedIndex < 0 ? 0 : voiceList.selectedIndex;
                      voiceList.innerHTML = '';
                      voices.forEach((voice) => {
                        var listItem = document.createElement('option');
                        listItem.textContent = voice.name;
                        listItem.setAttribute('data-lang', voice.lang);
                        listItem.setAttribute('data-name', voice.name);
                        voiceList.appendChild(listItem);
                      });

                      voiceList.selectedIndex = selectedIndex;
                    }
                  </script>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Area chart</h4>
                  <canvas id="areaChart" style="height:350px;width: 450px;"></canvas>



                  <script>
                    document.getElementById('txtInput').value = "this is a bar chart. here we can see on y-axes total distraction and on x-axes total years data in the region. highest bar is of 2012 year with value 2000 points scale and least 2022 of 800 points scale";
                    var txtInput = document.querySelector('#txtInput');
                    var voiceList = document.querySelector('#voiceList');
                    var btnSpeak = document.querySelector('#btnSpeak');
                    var synth = window.speechSynthesis;
                    var voices = [];

                    PopulateVoices();
                    if (speechSynthesis !== undefined) {
                      speechSynthesis.onvoiceschanged = PopulateVoices;
                    }

                    btnSpeak.addEventListener('click', () => {
                      var toSpeak = new SpeechSynthesisUtterance(txtInput.value);
                      var selectedVoiceName = voiceList.selectedOptions[0].getAttribute('data-name');
                      voices.forEach((voice) => {
                        if (voice.name === selectedVoiceName) {
                          toSpeak.voice = voice;
                          console.log(selectedVoiceName);
                        }
                      });
                      synth.speak(toSpeak);
                    });

                    function PopulateVoices() {
                      voices = synth.getVoices();
                      var selectedIndex = voiceList.selectedIndex < 0 ? 0 : voiceList.selectedIndex;
                      voiceList.innerHTML = '';
                      voices.forEach((voice) => {
                        var listItem = document.createElement('option');
                        listItem.textContent = voice.name;
                        listItem.setAttribute('data-lang', voice.lang);
                        listItem.setAttribute('data-name', voice.name);
                        voiceList.appendChild(listItem);
                      });

                      voiceList.selectedIndex = selectedIndex;
                    }
                  </script> -->


                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Doughnut chart</h4>
                  <canvas id="doughnutChart" style="height:350px;width: 450px;"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Pie chart</h4>
                  <canvas id="pieChart" style="height:350px;width: 450px;"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Scatter chart</h4>
                  <canvas id="scatterChart" style="height:250px;width: 400px;"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Webscalers</span>


          </div>